{$SITE_ADDRESS:https://localhost} {
    encode zstd gzip

    header {
        Referrer-Policy same-origin
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
    }

    @admin path /admin /admin/* /api/v1/admin /api/v1/admin/*
    basicauth @admin {
        {$PROXY_BASIC_AUTH_USER} {$PROXY_BASIC_AUTH_PASSWORD_HASH}
    }

    handle /health {
        reverse_proxy api:8000
    }

    handle /api/* {
        reverse_proxy api:8000
    }

    handle {
        reverse_proxy web:80
    }
}
